span {
    color: rgba(53, 53, 204, 0.808);
}

#headerToolbar {
    background-color: black;
    display: flex;
    font-family: "Courier New", Courier, monospace;
    justify-content: space-between;
    height: 72px;
}

#titleToolbar {
    font-size: 160%;
    font-weight: bold;
}

#logoImg {
    height: 7%;
    width: 8%;
}

#userId {
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
}

#userImg {
    height: 6%;
    width: 2.7%;
}

#menuImg {
    height: 5%;
    width: 2.4%;
}
