span {
  color: rgba(53, 53, 204, 0.808);
}

#headerToolbar {
  background-color: black;
  display: flex;
  font-family: "Courier New", Courier, monospace;
  justify-content: space-between;
  height: 72px;
  min-height: 50px;
}

#titleToolbar {
  font-size: 160%;
  font-weight: bold;
}

#imgArea {
  display: flex;
  width: 100px;
  align-items: center;
  justify-content: space-around;
}

#logoImg {
  width: auto;
  height: auto;
  max-height: 8vh;
}

#userArea {
  max-width: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#userId {
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}

#userImg {
  height: 30%;
  width: 30%;
}
