<div class="indisp-main">

  <span class="title">Indisponibilidades para Exames</span>

  <div class="indisp-exames" [style.display]="'flex'">
    <mat-form-field id="dropdownUnidade">
      <mat-label>Professores</mat-label>
      <mat-select (selectionChange)="filterTable($event.value)">
        <mat-option *ngFor="let professor of professores" [value]="professor._id">
          {{professor.nome}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <table mat-table [dataSource]="indisponibilidades" multiTemplateDataRows class="mat-elevation-z8">
      <ng-container matColumnDef="docente">
        <th mat-header-cell *matHeaderCellDef> Docente </th>
        <td mat-cell *matCellDef="let exame"> {{exame.indisponibilidade.professor.nome}} </td>
      </ng-container>
      <ng-container matColumnDef="inicio">
        <th mat-header-cell *matHeaderCellDef> Data Inicio </th>
        <td mat-cell *matCellDef="let exame"> {{exame.indisponibilidade.inicio}} </td>
      </ng-container>
      <ng-container matColumnDef="fim">
        <th mat-header-cell *matHeaderCellDef> Data Fim </th>
        <td mat-cell *matCellDef="let exame"> {{exame.indisponibilidade.fim}} </td>
      </ng-container>
      <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
          <div class="details" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
            <div *ngFor="let ex of element.exames">
              <div class="details">
                <span class="uc">Unidade Curricular: {{ex.exame.unidadecurricular.nome}}</span>
                <span class="epoca">Época: {{ex.exame.epoca}}</span>
                <span class="epoca">Vigilancias atribuidas: {{ex.vigilanciasAtribuidas}}</span>
              </div>
          </div>
  </div>
  </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let element; columns: displayedColumns;" class="example-element-row"
    [class.example-expanded-row]="expandedElement === element" (click)="expandedElement = element">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
  </table>
</div>
</div>
