

<div class="assigned-finals-main">
  <div class="assigned-finals-main-title">
    <span class="title">Consultar Salas</span>
  </div>
  <div class="assigned-finals-main-table">
    <table mat-table [dataSource]="auxArray" class="mat-elevation-z8">
      <ng-container matColumnDef="cadeira">
        <th mat-header-cell *matHeaderCellDef> Disciplina </th>
        <td mat-cell *matCellDef="let dfd"> {{dfd.cadeira}} </td>
      </ng-container>
      <ng-container matColumnDef="semestre">
        <th mat-header-cell *matHeaderCellDef> Semestre </th>
        <td mat-cell *matCellDef="let dfd"> {{dfd.epoca}} </td>
      </ng-container>
      <ng-container matColumnDef="sala">
        <th mat-header-cell *matHeaderCellDef> Sala </th>
        <td mat-cell *matCellDef="let dfd"> {{dfd.sala}} </td>
      </ng-container>
      <ng-container matColumnDef="lotacaoNormal">
        <th mat-header-cell *matHeaderCellDef> Lotação normal </th>
        <td mat-cell *matCellDef="let dfd"> {{dfd.lotacaoNormal}} </td>
      </ng-container>
      <ng-container matColumnDef="lotacaoExame">
        <th mat-header-cell *matHeaderCellDef>  Lotação em exame  </th>
        <td mat-cell *matCellDef="let dfd"> {{dfd.lotacaoExame}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>
