<div class="assigned-finals-main">
  <div class="assigned-finals-main-title">
    <span class="title">Exames atribuídos</span>
  </div>
  <div class="assigned-finals-main-table">
    <table mat-table [dataSource]="exames" class="mat-elevation-z8" id="examTable">
      <ng-container matColumnDef="unidadecurricular">
        <th mat-header-cell *matHeaderCellDef> Unidade Curricular </th>
        <td mat-cell *matCellDef="let exame"> {{exame.unidadecurricular.nome}} </td>
      </ng-container>
      <ng-container matColumnDef="data">
        <th mat-header-cell *matHeaderCellDef> Data </th>
        <td mat-cell *matCellDef="let exame"> {{exame.data}} </td>
      </ng-container>
      <ng-container matColumnDef="horario">
        <th mat-header-cell *matHeaderCellDef> Horário </th>
        <td mat-cell *matCellDef="let exame"> {{exame.horario}} </td>
      </ng-container>
      <ng-container matColumnDef="sala">
        <th mat-header-cell *matHeaderCellDef> Sala </th>
        <td mat-cell *matCellDef="let exame"> {{exame.sala[0].localizacao}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>
