<div class="login-main">
  <div class="login-main-logo">
      <img id="logoFCUL" src="assets/img/fcul_logo.png" alt="FCUL logo">
  </div>
  <div class="login-main-title">
    <span>Vigilânia de Exames</span>
  </div>
  <div class="login-main-usernameLabel">
    <span>Utilizador:</span>
  </div>
  <div class="login-main-usernameInput">
      <input id="userInput">
  </div>
  <div class="login-main-passLabel">
    <span>Palavra-passe:</span>
  </div>
  <div class="login-main-passInput">
      <input id="passInput">
  </div>
  <div class="login-main-button">
      <button id="logButton"mat-button>LOG IN</button>
  </div>
</div>
