.login-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.login-main-title {
  padding-top: 10px;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 35px;
  color: #2C3FB1;
}

.login-main-usernameArea {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#usernameFormField {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login-main-passArea {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#passFormField {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login-main-button {
  display: flex;
  flex-direction: column;
  align-content: center;
}

#userInput {
  width: 100%;
  height: 30px;
  font-size: 20px;
}

#passInput {
  width: 100%;
  height: 30px;
}

#logoFCUL {
  width: 50%;
}

#logButton {
  color: #2C3FB1;
  font-size: 15px;
}
