mat-sidenav-container{
    height: 100%;
    width: 100%;
}



mat-sidenav, mat-sidenav-content{
    background-color: rgb(184, 223, 248);
    width: 2%;
}

mat-sidenav{
    background-color: rgb(184, 223, 248);
    width: 12%;
}

#sidebutton_active{
    background-color: rgb(15, 35, 124);
    border: white;
    color: white;
    text-decoration: none;
    cursor: pointer;
    height: 7%;
    width: 100%;
}

#sidebutton_inactive{
    background-color: rgb(38, 176, 211);
    border: white;
    color: white;
    text-decoration: none;
    cursor: pointer;
    height: 7%;
    width: 100%;
}

