<mat-sidenav-container id="sideBar">
  <mat-sidenav #sidenav onload="opened=checkMenu()" [(opened)]="opened" mode="side">
    
      <button id="sidebutton_active">Exames para Vigiar</button>
      <button id="sidebutton_inactive">Criar Vigilância</button>
      <button id="sidebutton_inactive">Vigilâncias Criadas</button>
      <button id="sidebutton_inactive">Comunicar Indisponibilidade</button>

  </mat-sidenav>
<mat-sidenav-content>
  <button (click)="writeValueMenu()">clica</button>
</mat-sidenav-content>


</mat-sidenav-container>