<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer id="sidenav_css" class="sidenav" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="!(isHandset$ | async)">

    <mat-nav-list id="listMenu" role="navigation">

      <a *ngIf="!isLoggedIn" routerLink="login">
        <button id="loginBtn" class="sidebutton_inactive" (click)="changeColor($event)">Login</button>
      </a>

      <a *ngIf="isLoggedIn" routerLink="create-calendar">
        <button id="criarCal" class="sidebutton_inactive" (click)="changeColor($event)">Calendário</button>
      </a>

      <a *ngIf="isLoggedIn" routerLink="assigned-finals">
        <button id="assFin" class="sidebutton_inactive" (click)="changeColor($event)">Exames para Vigiar</button>
      </a>

      <a *ngIf="isLoggedIn" routerLink="comunicar-indisp">
        <button id="comInd" class="sidebutton_inactive" (click)="changeColor($event)">Comunicar Indisponibilidade</button>
      </a>

      <a *ngIf="isLoggedIn" routerLink="consultar-vigilantes">
        <button id="consVig" class="sidebutton_inactive" (click)="changeColor($event)">Consultar vigilantes</button>
      </a>

      <a *ngIf="isLoggedIn" routerLink="consultar-salas">
        <button id="consSal" class="sidebutton_inactive" (click)="changeColor($event)">Consultar Salas</button>
      </a>

      <a *ngIf="isLoggedIn" routerLink="consultar-indisp">
        <button id="consInd" class="sidebutton_inactive" (click)="changeColor($event)">Consultar Indisponibilidade</button>
      </a>
    </mat-nav-list>
  </mat-sidenav>
</mat-sidenav-container>
