.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

#logoImg {
  position: fixed;
  height: 7%;
  width: 8%;
  left: 3%;
}


#menutoolbar {
  background-color: black;
}


#sidebutton_active {
  background-color: rgb(15, 35, 124);
  border: white;
  color: white;
  text-decoration: none;
  cursor: pointer;
  height: 45px;
  width: 100%;
}

#sidebutton_inactive {
  background-color: rgb(38, 176, 211);
  border: white;
  color: white;
  text-decoration: none;
  cursor: pointer;
  height: 45px;
  width: 100%;
}

#listMenu {
  background-color: black;
  width: 100%;
  padding-top: 0px;
}

mat-sidenav-container * {
    height: minmax(min-content, min-content);
}
