<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer id="sidenav_css" class="sidenav" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="!(isHandset$ | async)">

    <mat-nav-list id="listMenu" role="navigation">

      <a *ngIf="!isLoggedIn" href="login"><button id="loginBtn" class="sidebutton_inactive"
          (click)="changeColor('criarCal')">Login</button></a>


      <a href="create-calendar"><button id="criarCal" class="sidebutton_inactive"
          (click)="changeColor('criarCal')">Calendário</button></a>


      <a href="assigned-finals"><button id="assFin" class="sidebutton_inactive" (click)="changeColor('assFin')">Exames
          para Vigiar</button></a>


      <a href="comunicar-indisp"><button id="comInd" class="sidebutton_inactive"
          (click)="changeColor('comInd')">Comunicar Indisponibilidade</button></a>
      <a href="consultar-vigilantes"><button id="comInd" class="sidebutton_inactive"
          (click)="changeColor('comInd')">Consultar vigilantes</button></a>
      <a href="consultar-salas"><button id="comInd" class="sidebutton_inactive"
          (click)="changeColor('comInd')">Consultar Salas</button></a>
      <a href="consultar-indisp"><button id="consInd" class="sidebutton_inactive"
        (click)="changeColor('consInd')">Consultar Indisponibilidade</button></a>
    </mat-nav-list>
  </mat-sidenav>
</mat-sidenav-container>
